/*
  Estilos para la página principal
*/

* {
    margin:  0;
    padding: 0;
}

body {
    background-color: #96DB46;
    height:           auto!important;
}

img {
    border-style:   none;
    vertical-align: middle;
}

input, textarea {
    border-color: #000000;
}

/*
  Estilos de los bloques
*/

#contenedor {
    font-family:      FreeSans, Arial;
    font-size:        12px;
    /*height:           90vh;*/
    min-height:       95vh;
    background-color: #DCF5C4;
    width:            95vw;
    margin-left:      auto;
    margin-right:     auto;
    border-radius:    5px;
}

#encabezado {
    margin:           0px;
    font-family:      FreeSans, Arial;
    font-size:        12px;
    height:           auto !important;
    /*height:           10vh;*/
    min-height:       10vh;
    background-color: #6FC230;
    width:            95vw;
    margin-left:      auto;
    margin-right:     auto;
    border-radius:    5px;
}

#contenido {
    margin:           0px;
    font-family:      FreeSans, Arial;
    font-size:        12px;
    height:           auto !important;
    /*height:           70vh;*/
    min-height:       70vh;
    background-color: #BEED87;
    width:            90vw;
    margin-left:      auto;
    margin-right:     auto;
    border-radius:    5px;
}

#pedestal {
    margin:           0px;
    font-family:      FreeSans, Arial;
    font-size:        12px;
    height:           auto !important;
    /*height:           10vh;*/
    min-height:       10vh;
    background-color: #6FC230;
    width:            95vw;
    margin-left:      auto;
    margin-right:     auto;
    border-radius:    5px;
}

.icono {
    height: 32px;
    width:  32px;
}